<MarketplaceDetails>
  <SmallAppTile>StoreTile.png</SmallAppTile>
  <ScreenShots>wp_ss_20141228_0003[1].png;wp_ss_20141228_0001[1].png;wp_ss_20141228_0004[1].png;wp_ss_20141228_0005[1].png;wp_ss_20141228_0006[1].png;wp_ss_20141228_0007[1].png;;;</ScreenShots>
  <ScreenShotsWXGA>wxgaScreen.png;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>